body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

header {
    margin-top: 0;
    width: 100%;
    height: 70px;
    background-color: cyan;
}    

section {
    height: 480px;
    padding-bottom: 100px;
    background-color: cyan;
}

ul {
    width: auto;
    float: right;
    margin-top: 20px;
}

li {
    display: inline;
    padding: 15px 30px;
    font-weight: 700;
}

a {
    text-align: center;
    text-decoration: none;
}

.upper-half {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

h1 {
    font-size: 40px;
    padding-top:0;
    line-height: 40%;
}

h4 {
    font-weight: 300;
}
.word-highlight {
    color: red;
}
.upper-half img {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(3110deg, lightsalmon, tomato);
    padding: 8px 20px;
    border-radius: 5px;
    font-weight: 700;
    color: mediumblue;
}

.line-highliter {
    text-align: center;
    padding-top: 2%;
    margin-top: 0;
}

.line-highliter span {
    color: crimson;
}


.img-responsive {
    max-width: 100%;
}
.project-list {
    padding: 1rem;
    margin-top: 20px;;
    margin-left: 15px;
    float: left;
    width: 25%;


}
.middle-row {
    position: absolute;
    margin-left: 10%;
    
}


.shadow {
    box-shadow: 10px 10px 35px gray;
    border-radius: 2%;
    background-color: whitesmoke;
}

.img-line {
    margin-top:0;
    font-size: 20px;
    font-weight: 700;
    color: rgb(78, 78, 230);
}

.sentence {
    margin-top: 1 rem;
    margin-right: 0.5 rem;
    font-weight: 200;
    text-align: left;
    color: rgba(110, 108, 108, 0.829);
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 7%;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
  }

  .left {
    position: absolute;
    bottom: 28px;
    left: 340px;
  }

  .right {
      position: absolute;
      bottom: 55px;
      right: 340px;
  }

  .text-center {
      padding-top: 100px;
      text-align: center;
  }
  .icon {
      max-width: 100%;
  }
  .column {
    float: left;
    width: 45px;
    padding-left: 1rem;
  }
  .row {
      position: absolute;
      margin-left: 41%;
  }